* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('images/new-patient.jpg');
    background-repeat: no-repeat;
    background-size: cover;    
}

header {
    background-color: #010124;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    text-align: center;
}

.header-description {
    max-width: 800px;
    margin: 0 auto;
}

.container p {
    text-align: center;
    margin: 10px 0;
    color: #010124;
    font-size: 30px;
    font-weight: 500;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    padding-left: 70px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container form {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 50px;
    padding: 10px;
}

.container form input,
.container form select,
.container form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.container form input[type="submit"] {
    background-color: #010124;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.container form input[type="submit"]:hover {
    background-color: #ffffff;
    color: #010124;
    transition: background-color 0.3s ease;
}

.container form button {
    background-color: #010124;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    width: 200px;
}

.container form button:hover {
    background-color: #ffffff;
    color: #010124;
    transition: background-color 0.3s ease;
}

.container a {
    color: #010124;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 10px 20px;
    width: 200px;
    color: #ffffff;
    border-radius: 10px;
    margin-left: 10px;
    background-color: #010124;
    border: 2px solid #010124;
}

footer {
    background-color: #010124;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
    font-size: 14px;
}
