* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('images/new-patient.jpg');
    background-repeat: no-repeat;
    background-size: cover;    
}

header {
    background-color: #010124;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    text-align: center;
}

.header-description {
    max-width: 800px;
    margin: 0 auto;
}